.Form {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Signup {
    height: 60%;
}

#Signup input {
    margin: 8px 0;
}

.Form > * {
    height: 45px;
    border: none;
    border-bottom: 1px solid #8A8A8A;
    font-family: 'NanumSquare';
    font-size: 15px;
    outline: none;
}

.Form > input {
    height: 40px;
}

.Form > input:focus {
    border: none;
    border-bottom: 1.2px solid rgba(61, 61, 61, 0.7)
    /* border-radius: 10px; */
}

.Form > button {
    font-size: 25px;
    height: 50px;
    color: #48DB8C;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #48DB8C;
    box-shadow: 0 5.2px 16px 0 rgb(33 34 34 / 10%);
    transition: all 0.2s linear;
}

.Form > button:hover {
    background-color: #48DB8C;
    color: #fff;
}

.Form > input[type=password] {
    font-family: '맑은 고딕';
}

.Form > input[type=password]::placeholder {
    font-family: 'NanumSquare';
}

/* media query */
@media only screen and (min-width: 270px) and (max-width: 299px) {
    .Form > * {
        font-size: 13px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 449px) {
    .Form > * {
        font-size: 15px;
    }
}

@media only screen and (min-width: 450px) {

}