#typeRadio {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;    
}

input[type=radio] {
    width: 18px;
    height: 18px;
    appearance: none;
    border: 2px solid #48DB8C;
    border-radius: 50%;   
    transition: border 0.5s ease-in-out;
}

input[type=radio]:checked {
    border: 6px solid #48DB8C;
}

#Signup > input {
    width: 98%;
    height: 10%;
    margin: 1% auto;
    padding: 5px 1%;
    border: none;
    outline: none;
    border-bottom: 1px solid #8A8A8A;
    border-radius: 0px;
}

#signupBox {
    width: 98%;
    height: 10%;
    margin: 2% auto;
    border-bottom: 1px solid #8A8A8A;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signupBox > input {
    margin: 0;
    height: 100%;
    outline: none;
    border: none;
    flex-grow: 1;
    margin: 1% auto;
    padding: 5px 1%;
    border-radius: 0px;
}

#certifBtn { 
    border-radius: 20px;
    outline: none;
    border: 3px solid #48DB8C;
    background-color: #ffffff;
    color: #48DB8C;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.2s linear;
}

#certifBtn:hover {
    background-color: #48DB8C;
    color: white;
}

#signin_btn {
    width: 100%;
    height: 40px;
    font-size: 23px;
    font-weight: bold;
    color: #48DB8C;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #48DB8C;
    margin-top: 8px;
    box-shadow: 0 5.2px 16px 0 rgb(33 34 34 / 10%);
    transition: all 0.2s linear;
}

#signin_btn:hover {
    background-color: #48DB8C;
    color: #fff;
}

/* media query */
@media only screen and (min-width: 270px) and (max-width: 299px) {
    #Signup > input, #signupBox > input { 
        font-size: 12px;
    }

    #certifBtn {
        font-size: 8px;
        width: 55px; 
    }

    #typeRadio {
        font-size: 13px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 449px) {
    #Signup > input, #signupBox > input { 
        font-size: 14px;
    }

    #certifBtn {
        font-size: 11px;
        width: 65px; 
    }

    #typeRadio {
        font-size: 15px;
    }
}

@media only screen and (min-width: 450px) {
    #certifBtn {
        font-size: 14px;
        width: 75px; 
    }
}