.modal-content {
    height: calc(100vh - 50px);
}

.modal-body {
    overflow-y: scroll;
}

/* .modal-body::-webkit-scrollbar {
    display: none;
} */

#email-input {
    width: calc(100% - 20px);
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(94, 94, 94);
}

#consonant {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(94, 94, 94);
    font-weight: bold;
}

.btn-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btns {
    width: 31%;
    background-color: #fff;
    border: 2px solid #48DB8C;
    border-radius: 10px;
}

.btns:hover {
    background-color: #48DB8C;
    color: #fff;
}

.btns-clicked {
    width: 31%;
    background-color: #48DB8C;
    border: 2px solid #48DB8C;
    color: #fff;
    border-radius: 10px;
}

#modify-btn {
    text-align: center;
}

#modify-btn > button {
    border: none;
    padding: 8px;
    color: #fff;
    border-radius: 10px;
    background-color: #48DB8C;
    width: 80%;
}

/* media query */
@media only screen and (min-width: 270px) and (max-width: 299px) {
    #email-input {
        font-size: 13px;
    }
    
    .btns, .btns-clicked {
        font-size: 10px;
        margin: 1px;
        height: 35px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 449px) {
    #email-input {
        font-size: 15px;
    }
    
    .btns, .btns-clicked {
        font-size: 12px;
        padding: 0px;
        margin: 2px;
        height: 37px;
    }
}

@media only screen and (min-width: 450px) {
    #email-input {
        font-size: 17px;
    }
    
    .btns, .btns-clicked {
        font-size: 15px;
        margin: 3px;
        height: 40px;
    }
}