#User_main{
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 997;
    background-color: white;
}

#main_progress_box{
    background-color: white;
    width: 300px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    top: 0;
}
#main_progress_info{
    color: rgb(37, 37, 37);
    font-weight: 750;
}
#main_progress_info > div:nth-child(1){
    font-size: 20px;
    margin-bottom: 10px;
}
#main_progress_info > div:nth-child(2), #main_progress_info > div:nth-child(3){
    font-size: 13px;
}
#main_progress_info > div > span{
    color: #48DB8C;
}

#main_progress_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
}
#main_progress_button > button{
    border: 1.5px solid #48DB8C;
    outline: none;
    color: #48DB8C;
    background-color: transparent;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 800;
    padding: 5px 20px;
    transition: all 0.2s linear;
}
#main_progress_button > button:hover{
    background-color: #48DB8C;
    color: white;
}
#main_qr_box{
    width: 300px;
    height: 60px;
    padding: 15px;
    overflow: hidden;
    background-color: #34BD73;
    position: relative;
}
#main_qr_box > div{
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 18px;
    font-weight: 800;
}
#main_qr_box > img{
    width: 100px;
    position: absolute;
    top: 20px;
    left: 5px;
}

#main_progress_box, #main_qr_box{
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px rgb(214, 214, 214);
    transition: all 0.2s linear;
}
#main_progress_box:hover{
    width: 310px;
    height: 270px;
    padding: 25px;
}
#main_qr_box:hover{
    width: 310px;
    height: 120px;
    padding: 20px;
}