#BookmarkPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

#bookmarkHeader {
    width: 100%;
    height: 50px;
    box-shadow: 0 3px 16px 0 rgb(33 34 34 / 10%);
}

#bookmarkContainer {
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

#bookmarkContainer::-webkit-scrollbar {
    display: none;
}

#noBookmark {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#noBookmark > div {
    width: 100%;
    height: 250px;
}

#noBookmark > button {
    outline: none;
    border-radius: 10px;
    margin-top: 5px;
    border: 3px solid #48DB8C;
    color: #48DB8C;
    background-color: white;
    transition: all 0.3s linear;
    box-shadow: 0 5.2px 16px 0 rgb(33 34 34 / 10%);
}

#noBookmark > button:hover {
    background-color: #48DB8C;
    color: white;
}

#stationBox {
    width: 85%;
    height: auto;
    display: flex;
    margin: 15px auto;
    padding: 18px;
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 5.2px 16px 0 rgb(33 34 34 / 10%);
    border-radius: 10px;
    transition: all 0.2s linear;
}

#stationBox:hover {
    transform: scale(1.05);
}

#stationBox > div:nth-child(1) {
    width: 80%;
}

#stationBox > div:nth-child(2) {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

#stationBox > div:nth-child(2) > img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
}

#stationBox > div > span:nth-of-type(1) {
    font-size: 13px;
}

#stationBox > div > span:nth-of-type(2) {
    color: #48DB8C;
    font-size: 15px;
}

#addBtn {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
    color: #CBCBCB;
    font-size: 40px;
    line-height: 70px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 0 16px 0 rgb(33 34 34 / 15%);
    transition: all 0.4s linear;
}

#addBtn:hover {
    box-shadow: 0 0 16px 0 rgb(33 34 34 / 25%);
    color: rgb(33 34 34 / 40%);
}

/* fade in */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

#stationBox {
    position: relative;
    animation: fadeInUp 1s;
}

/* media query */
@media only screen and (min-width: 270px) and (max-width: 299px) {
    #stationBox > div:nth-child(1) {
        font-size: 13px;
    }

    #stationBox > div > span:nth-of-type(1) {
        font-size: 9px;
        color:#636363;
    }

    #stationBox > div:nth-child(2) > img {
        width: 22px;
        height: 22px;
    }

    #stationBox > div:nth-child(1) {
        width: 87%;
    }

    #stationBox > div:nth-child(2) {
        width: 13%;
    }

    #addBtn {
        bottom: 70px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 449px) {
    #stationBox > div:nth-child(1) {
        font-size: 15px;
    }

    #stationBox > div > span:nth-of-type(1) {
        font-size: 11px;
        color:#636363;
    }

    #stationBox > div:nth-child(2) > img {
        width: 25px;
        height: 25px;
    }

    #stationBox > div:nth-child(1) {
        width: 85%;
    }

    #stationBox > div:nth-child(2) {
        width: 15%;
    }
    
    #addBtn {
        bottom: 70px;
    }
}

@media only screen and (min-width: 450px) {

    #bookmarkContainer {
        padding: 50px 50px;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #stationBox {
        height: 220px;
    }
}

@media only screen and (min-width: 701px) {
    #bookmarkContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #stationBox {
        height: 250px;
    }
}

@media only screen and (min-width: 1001px) {
    #bookmarkContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #stationBox {
        height: 280px;
    }
}