.MainPage{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainpage_header{
    border-bottom: 3px solid #DFDFDF;
}

.mainpage_kakaomap{
    flex-grow: 1;
}

.mainpage_header{
    height: 50px;
}

/* media query */
@media only screen and (min-width: 270px) and (max-width: 299px) {
    
}

@media only screen and (min-width: 300px) and (max-width: 449px) {
    
}

@media only screen and (min-width: 450px) {
    
}
