.modal-content {
    border: none;
}

.modal-header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-radius: 10px;
    text-align: center;
    color: #48DB8C;
    font-weight: bolder;
    font-size: 20px;
}

.modal-header > div {
    width: 20%;
}

.modal-header > span {
    width: 80%;
    margin: 0 auto;
}

.modal-header > .close-icon {
    width: 20%;
}

.station-detail-modal {
    height: 75vh;
}

.modal-charging-info {
    width: 90%;
    margin: 10px auto;
    color: #6B6B6B;
}

#include {
    color: #48DB8C;
    font-weight: bold;
}

#gotoBtn {
    width: 100%;
    height: 70px;
    position: sticky;
    bottom: -20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gotoBtn > button {
    width: 70%;
    height: 60%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #48DB8C;
    color: white;
    font-weight: bolder;
    transition: all 0.3s linear;
}

#gotoBtn > button:hover {
    background-color: #34BD73;
}

#charging-state {
   color: #48DB8C;
   border-radius: 20px;
   padding: 8px;
   border: 3px solid #48DB8C;
}

#charging-location {
    display: flex;
}

#user-charging-location-info {
    width: 87%;
}

#starBox {
    width: 13%;
    height: 13%;
    cursor: pointer;
}

#starBox > img {
    width: 100%;
    height: 100%;
}

#charging-location > div > span {
    font-size: 15px;
}

#charging-station-info-text > span {
    display: inline-block;
    padding: 0 10px;
    margin-left: 3%;
    font-size: 12px;
    line-height: 25px;
    border: 3px solid #48DB8C;
    color: #48DB8C;
    border-radius: 15px;
}

#charger-list-box {
    width: 100%;
    height: auto;
}

#charger-box {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid #dadada;
}

#charger-box > div:nth-child(1) {
    line-height: 30px;
    text-align: center;
}

#charger-box > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}

#holding {
    color: #48DB8C;
    /* border: 2px solid #9dffcb; */
}

#charging {
    color: #436DD9;
    /* border: 2px solid #a9c1ff; */
}

#disconnected {
    color: #FFC700;
    /* border: 2px solid #ffeca7; */
}

#shutdown {
    color: #D94C43;
    /* border: 2px solid #ffa0a0; */
}

/* media query */
@media only screen and (min-width: 270px) and (max-width: 299px) {
    .modal-content {
        width: 95%;
        margin: 0 auto;
    }

    .modal-header {
        height: 50px;
    }

    .modal-header > span {
        font-size: 14px;
        margin-left: 0px;
    }

    .charging-station-info > * {
        width: 90%;
        margin: 5px auto;
        font-size: 14px;
    }

    #charging-state {
        padding: 4px;
        font-size: 14px;
     }

    #charging-location, #charging-type, #charging-station-info-text {
        font-size: 17px;
    }

    #charging-location {
        margin-top: 10px;
    }

    #charging-location-info {
        font-size: 10px;
    }

    .modal-header > div > img {
        width: 15px;
    }

    #charger-box {
        height: 70px;
    }

    #charger-box > div:nth-child(1) {
        line-height: 35px;
        font-size: 12px;
    }

    #charger-box > div:nth-child(2) {
        line-height: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 11px;
        margin-top: 8px;
        text-align: center;
    } 

    #gotoBtn > button{
        font-size: 13px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 449px) {
    .modal-content {
        width: 90%;
        margin: 0 auto;
    }

    .modal-header {
        height: 60px;
    }

    .modal-header > span {
        font-size: 16px;
        margin-left: 0px;
    }

    .charging-station-info > * {
        width: 90%;
        margin: 5px auto;
        font-size: 16px;
    }

    #charging-state {
        padding: 4px;
        font-size: 14px;
     }

    #charging-location, #charging-type, #charging-station-info-text {
        font-size: 20px;
    }

    #charging-location {
        margin-top: 10px;
    }

    #charging-location-info {
        font-size: 13px;
    }

    .modal-header > div > img {
        width: 18px;
    }

    #charger-box {
        height: 80px;
    }

    #charger-box > div:nth-child(1) {
        line-height: 40px;
        font-size: 15px;
    }

    #charger-box > div:nth-child(2) {
        line-height: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 15px;
        margin-top: 12px;
    } 

    #charging-station-info-text > span  {
        font-size: 11px;
        margin: 0;
    }

    #gotoBtn > button{
        font-size: 15px;
    }
}

@media only screen and (min-width: 450px) {
    .modal-content {
        width: 90%;
        margin: 0 auto;
    }

    .charging-station-info {
        margin: 0 auto;
    }
    
    #charging-location {
        font-size: 25px;
        margin-top: 25px;
    }
    
    #charging-location-info {
        font-size: 15px;
        height: auto;
    }
    
    #charging-type {
        font-size: 22px;
        margin: 20px 0;
    }

    #charging-station-info-text {
        font-size: 22px;
        margin: 20px 0;
    }

    .charging-station-info > * {
        margin-left: 30px;
        font-size: 20px;
        padding: 3px;
    }

    .modal-header > div > img {
        width: 20px;
    }

    #starBox {
        width: 40px;
    }
}